PORT=3000

N8N_SERVICE=rp_n8n

POSTGRES_HOST=rp_n8n_db
POSTGRES_PORT=5432
POSTGRES_DB=n8n_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=

APP_USERNAME=
APP_PASSWORD=

CLEAN_TIMEOUT_SECONDS=120
SERVICE_START_TIMEOUT_SECONDS=120
SERVICE_STOP_TIMEOUT_SECONDS=120
